.todo-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-color);
  padding: 1rem;
  position: relative;
}

.todo-item > p {
  text-align: left;
  width: 80%;
  color: var(--text-color-primary);
  cursor: pointer;
  overflow-wrap: break-word;
}

.todo-delete {
  position: relative;
  z-index: -1;
  cursor: pointer;
}
.todo-item:hover {
  z-index: 1;
}

@keyframes on-drag {}

.todo-item__ondrag {
  animation-name: on-drag;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}
