.todo-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid hsl(236, 33%, 92%);
  padding: 1rem;
  position: relative;
}

.todo-item__dark {
  border-bottom-color: hsl(237, 14%, 26%);
}

.todo-item > p {
  text-align: left;
  width: 80%;
  color: hsl(235, 19%, 35%);
  cursor: pointer;
}

.todo-item__dark > p {
  color: hsl(234, 11%, 52%);
}

.todo-delete {
  position: relative;
  z-index: -1;
  cursor: pointer;
}
.todo-item:hover {
  z-index: 1;
}

@keyframes on-drag {}

.todo-item__ondrag {
  animation-name: on-drag;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}
