.border-wrap{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.todo-icon{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--background-color-primary);
}


.border-wrap:active,
.border-wrap:hover{
  background-image: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.border-wrap > .completed-todo{ /*more detailed quesry to keep the same prio level*/
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed-border-wrap {
  background-image: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: 0px;
}