.new-todo__container {
  border-radius: inherit;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.new-todo_input {
  width: 85%;
  border: 0;
  border-radius: inherit;
  height: 2rem;
  font-size: 1rem;
  background-color: inherit;
  caret-color: hsl(280, 87%, 65%);
  outline: none;
  resize: none;
  color:var(--text-color-primary);
}
.submit-btn__wrap {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var( --border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-color-primary);
}

.submit-btn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--background-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
}


.submit-btn__wrap:hover,
.submit-btn__wrap:active, 
.submit-btn > label {
  background-image: linear-gradient(
    to right bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.submit-btn > label {
  background-clip: text;
  color: inherit;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

