.main-footer__container {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  color: hsl(236, 9%, 61%);
  font-weight: 700;
  font-size: 0.7rem;
  padding: 1rem;
}
