
.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1.7rem;
  width: 1.8rem;
  gap: 12.5%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.menu-icon > div {
  background-color: white;
  width: 100%;
  height: 25%;
  border-radius: 5px;
  position: relative;
  top: 0;
  bottom: 0;
  transition: 0.5s;
}

.menu-icon .clicked-menu_part1 {
  transform: rotate(45deg);
  top: 37.5%;
  transition: 0.5s;
}

.menu-icon .clicked-menu_part2 {
  width: 0;
  transition: 0.5s;
}

.menu-icon .clicked-menu_part3 {
  transform: rotate(-45deg);
  top: -37.5%;
  transition: 0.5s;
}
nav {
  background-color: inherit;
  border-radius: inherit;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 2.2rem;
  left: 0;
  width: 0;
  transition: 0.5s;
}

.nav_active {
  width: max-content;
  padding: 2rem;
  transition: 0.5s;
}

nav ul{
  list-style: none;
  white-space: nowrap;
  font-size: 0;
  color: transparent;
  transition: 0.3s;
}

nav button {
  white-space: nowrap;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  border: none;
  transition: 0.3s;
}

nav button:hover {
  text-decoration: underline;
}

.nav_active ul {
  line-height: 1.5rem;
  color: var(--text-color-primary);
  font-size: 1rem;
  transition: 0.2s;
}

.nav_active{
  color: var(--text-color-secondary);
}

.nav_active button {
  font-size: 1rem;
  color: cornflowerblue;
  transition: 0.2s;
}

.logout-error {
  background-color: rgba(205, 92, 92, 0.5);
  color: var(--error-text-color);
  padding: 1rem;
  width: 100%;
}