footer{
  color:  var(--text-color-secondary);
  padding-bottom: 2rem;
  width: 100%;
}
footer > article {
  font-size: small;
  padding-top: 2rem;
  text-align: center;
}

footer a{
  text-decoration: none;
  color: hsl(258, 47%, 48%);
}

footer a:hover{
  text-decoration: underline;
}
