.filter-list{
  display: flex;
  justify-content: space-between;
  gap: 0.7rem;
}

.filter-list > li{
  list-style: none;
  cursor: pointer;
}


.filter-list > li:hover{
  color: hsl(235, 19%, 35%);
}


.filter-list > li.highlight{
  color: hsl(220, 98%, 61%);
}