.login-error {
  background-color: hsla(0, 53%, 58%, 0.5);
  color: var(--error-text-color);
  padding: 1rem;
  width: 100%;
}

.password-reset_message {
  background-color: rgba(172, 255, 47, 0.5);
  color: var(--success-text-color);
  padding: 1rem;
  width: 100%;
}

.login-form {
  border-radius: inherit;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-width: 365px;
  width: 40%;
  padding: 3rem;
}

@media (max-width: 375px) {
  .login-form {
    width: 90vw;
    min-width: fit-content;
    padding: 3rem 1rem;
  }
}

.login-heading {
  font-size: 2.2rem;
  text-align: center;
  padding-top: 2rem;
  font-weight: 700;
  color: hsl(280, 87%, 65%, 0.5);
}

.login-input {
  width: calc(100% - 3px);
  border: 0;
  border-radius: inherit;
  height: calc(3rem - 3px);
  font-size: 1rem;
  background-color: var(--background-color-primary);
  caret-color: hsl(280, 87%, 65%);
  outline: none;
  resize: none;
  color: var(--text-color-primary);
  padding: 0 5px;
}

.login-instructions {
  text-align: center;
  width: 100%;
  color: var(--text-color-secondary);
  padding-top: 2rem;
}

.forgot-password__link {
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
  display: block;
  text-decoration: none;
  color: hsl(219, 79%, 66%);
}

.create-account__link {
  text-decoration: none;
  color: hsl(231, 84%, 49%);
}

.forgot-password__link:hover,
.link-btn:hover,
.create-account__link:hover {
  text-decoration: underline;
}
