.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  min-width: 100%;
  min-height: 100vh;
  background-image: url("../public/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: max(100%, 885px) min(100%, 250px);
}

.dark-mode {
  background-color: hsl(235, 21%, 11%);
  background-image: url("../public/images/bg-desktop-dark.jpg");
}